*{margin:0;padding:0}

#header{
	width:100%;
	height:70px;
	/* background:rgba(255,0,0,0.5); */
	box-shadow: 0px 1px 8px #888888;
}
#container{
	width:1100px;
	height:70px;
	margin: 0 auto;
	/* box-shadow: */
	
}
#container .pull-left{
	width:190px;
	height:70px;
	background:red;
	float:left;
	margin:0 10px;
}
#container .pull-center{
	width:700px;
	height:70px;
	/* background:#ff0099; */
	margin:0 10px 0 0;
	float:left;
}
#container .pull-right{
	width:170px;
	height:70px;
	background:#000099;
	float:left;
}
#container .pull-center ul{
	width:700px;
	height:70px;
	text-align:center;
	padding:0 15px;
}

#container .pull-center ul li{
	width:140px;
	height:70px;
	line-height:70px;
	list-style:none;
	float:left;
	font-family:Microsoft Yahei;
	font-size:19px;
	color:#bfb7bb;
}

#container .pull-center ul li a {
	color:#bfb7bb;
	text-decoration:none;
}