#navbar-example{
	position: relative;
	width: 800px;
	left: 20%;
	top: 50px;
}
.scrollspy-example{
	position: relative;
	height: 500px;
	margin-top: 10px;
	overflow: auto;
}
h4{
	line-height: 50px;
}
nav{
	position: absolute;
	width: 800px;
	top:30px;
	left: 20%
}