#about_title,#about_content{
	position: relative;
	left: 20%;
	width: 60%;
}
.about_members{
	display: block;
	position: relative;
	left: 20%;
	width: 60%;
}
.about_members li{
	display: inline;
	float: left;
	width: 60%;
	margin-top: 50px;
}
.about_members li h2,.about_members li h3{
	margin: 5px;
}
.about_members li div{
	display: block;
	float: left;
	width: 30%;
	overflow: hidden;
}
.about_members li div img{
	width: 100%;
	height: 100%;
}