*{margin:0;padding:0}
/* =========ÂµÂ¼ÂºÂ½========== */
#header{
	width:100%;
	height:70px;
	box-shadow: 0px 1px 8px #888888;
}
#container{
	width:1100px;
	height:70px;
	margin: 0 auto;
}
#container .pull-left{
	width:190px;
	height:70px;
	/* background:red; */
	float:left;
	margin:0 10px;
}
#container .pull-center{
	width:700px;
	height:70px;
	/* background:#ff0099; */
	margin:0 10px 0 0;
	float:left;
}
#container .pull-right{
	width:170px;
	height:70px;
	/* background:#000099; */
	margin-left: 10px;
	text-align:center;
	float:left;
}
#container .pull-center ul{
	width:700px;
	height:70px;
	text-align:center;
	padding:0 15px;
}

#container .pull-center ul li{
	width:18%;
	height:70px;
	line-height:70px;
	list-style:none;
	float:left;
	font-family:Microsoft Yahei;
	font-size:19px;
	color:#bfb7bb;
	transition:all 0.5s;

}

#container .pull-center ul li a{
	width:100%;
	height:70px;
	display:inline-block;
	color:#bfb7bb;
	text-decoration:none;
	transition:all 1s ;

}
#container .pull-center ul li:hover{
	
	
	background:rgba(152,228,152,0.5);
	border-radius:3px;
}
#container .pull-center ul li a:hover{
	color:#037D57;
	text-decoration:none;
}
.btn_login_text{
	margin-right:-2px;
	font-size:16px;
	font-family:Microsoft Yahei;
	color:#4f464d;
	line-height:70px;
	cursor:pointer;
}
#btn_login{
	/* cursor:pointer; */
	font-size:16px;
	font-family:Microsoft Yahei;
	color:#4f464d;
	line-height:70px;
	transition:all 1s;
}
/* =======Ã•Ã¢Â¸Ã¶ÃŠÃ‡Ã—Â¢Â²Ã¡/ÂµÃ‡Ã‚Â¼Â´Â°Â¿Ãš ======*/
#shadown_bg{
	clear:both;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.1);
	display:none;
}
#lgn{
	width:450px;
	height:350px;
	position:fixed;	
	left:0px;right:0px;
	margin-top:280px;
	margin-left:auto;
	margin-right:auto;
	background:#81c08d;
	border-radius:5px;
	text-align:center;
}
#close_login{
	position:absolute;
	top:0px;
	right:0px;
	width:20px;
	height:20px;
	border:3px solid #009900;
	border-radius:50%;
	transition:all 0.4s;
}

#close_login:hover{
	border:3px solid red;
}
.login_title{
	display:inline-block;
	margin-top:30px;
	font-size:50px;

}
.user_login{
	width:450px;
	height:130px;
	/* background:#cc3399; */
	margin-top:45px;
	position:relative;
}

.u_lb{
	font-size:23px;
	font-family:Microsoft Yahei;
	margin-bottom:5px;
}
.u_text{
	width:200px;
	height:40px;
	font-size:20px;
}
.btns{
	width:100%;
	height:90px;
	text-align:center;
	margin-top:25px;
	/* background:#333; */
}
#login_btn{
	width:100px;
	height:50px;
	font-size:18px;
	font-family:Microsoft Yahei;
}
#sign_in_btn{
	width:100px;
	height:50px;
	font-size:18px;
	font-family:Microsoft Yahei;
}
#forget{
	margin-right:5px;
	color:#000000;
	text-decoration:none;
}
/* =======Õâ¸öÊÇ×¢²á/µÇÂ¼´°¿Ú ======*/
.banner{
	width:100%;
	height:530px;
	margin:0 auto;
	background:rgba(0,0,0,0.2);
	margin-top:2px;
}
.hot_info{
	width:100%;
	height:400px;
	background:rgba(255,0,0,0.2);
	margin-top:2px;
}
.hot_info_wrap{
	width:90%;
	height:400px;
	margin:0 auto;
	background:rgba(0,255,0,0.2);
}

/* =======Õâ¸öÊÇHOTÐÅÏ¢ ======*/
#ul_info{
	width:100%;
	height:400px;
	background:rgba(0,0,255,0.2);
}
#ul_info li{
	width:33%;
	height:400px;
	background:rgba(0,255,255,0.2);
	float:left;
	margin-left:4px;
}