html,body{ 
margin:0px; 
height:100%; 
} 
#wrap{
	width: 100%;
	height:50%; 
	position: absolute;
	text-align: center;
	margin-top:200px; 
	/*background: pink;*/
}
#info{
	width: 600px;
	height: 100%;
	/*background: #fff;*/
	margin:0 auto;
	text-align: center;
}

#Table{
	margin: 0 auto;
	margin-top: 60px;
}


#title{
	font-family: Microsoft Yahei;
	font-size: 40px;
	font-weight: 100;
}

.text{
	font-size: 25px;
	font-family: Microsoft Yahei;
	font-weight: 100;
	padding:18px;
}
.msg{
	width: 200px;
	height: 30px;
	margin-top: 15px;
	background: none;
	border:1px solid #ccc;
	border-radius: 5px;
}



#btn_wrap{
	width: 100%;
	height: 44px;
	/*background: black;*/
	margin-top: 25px;
	text-align: center;
}

#commit{
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	line-height: 40px;
	margin:0 auto;
	display: inline-block;
	cursor: pointer; 
	transition:all 1s ease;
	font-family: Microsoft Yahei;
}

#reset{
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	line-height: 40px;
	margin:0 auto;
	display: inline-block;
	cursor: pointer; 
	transition:all 1s ease;
	font-family: Microsoft Yahei;
}

#commit:hover{
	background: rgba(0,255,0,0.5);
	border-radius: 100%;
}
#reset:hover{	
	background: rgba(0,255,0,0.5);
	border-radius: 100%;
}