
	*{
		margin:0;
		padding:0;
	}
	.title{
		font-size:50px;
		color:#000;
		text-align:center;
		margin-top:50px;
	}
	.user_register{
		padding-top:100px;
		margin:0 auto;
		text-align:center;
	}
	.user_register .field_name{
		height:50px;
		width:150px;
		font-family:Microsoft Yahei;
		font-size:25px;
		padding:15px;
	}
	
	 .field_value .value_text{
		height:30px;
		width:200px;
	}
	.wrap_btn{
		text-align:center;
		margin-top:20px;
	}
	.wrap_btn .btn{
		height:50px;
		width:90px;
		font-size:20px;
		font-family:Microsoft Yahei;
	}