.header{
	text-align: center;
}
.navigation{
	float: left;
	margin-left: 10%;
}
.navigation ul{
	list-style-type: none;
	width: 200px;
}
.navigation ul li h3 , .navigation ul li h5{
	width: 200px;
}
.body{
	width: 70%;
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}