.body{
	width: 70%;
}
.main{
	width: 100%;
	/*background: #fcc;*/
}
.data{
	min-height: 500px;
}
.reply_content{
	display: none;
}
.reply_content>textarea{
	resize:none;
	width: 50%;
	height: 50px;
}
.main>nav{
	text-align: right;
	padding: 20px;
}
tr>*{
	font-size: 16px;
}
.content{
	width: 60%;
	overflow: hidden;
}
